In [1]:
a = 123
a = -178
a = 0

In [2]:
a = 1.2
a = -3.45

In [3]:
a = 4.24E10
a = 4.24e-10

In [4]:
a = 0o177

In [5]:
a = 0x8ff
b = 0xABC

In [6]:
a = 3
b = 4
a + b

7

In [7]:
a * b

12

In [8]:
a / b

0.75

In [9]:
a // b   #3을 4로 나눈 몫

0

In [10]:
a ** b    #3의 4승

81

In [11]:
a % b  #3을 4로 나눈 나머지

3

In [12]:
7 % 3

1

In [13]:
3 % 7   #3을 7로 나눈 나머지

3

In [14]:
7 / 4

1.75

In [15]:
7 // 4  #7을 4로 나눌때의 몫

1

In [16]:
14 / 3 #파이썬의 나눗셈은 실수형으로 결과값을 출력한다.

4.666666666666667

In [17]:
14 // 3

4

In [18]:
14 % 3

2

In [19]:
"Life is too short, you need Python"  #문자열 타입

'Life is too short, you need Python'

In [20]:
"a"  #문자 타입

'a'

In [21]:
"123" #문자열 타입

'123'

In [22]:
""123"" # 쌍따옴표 두개 하면 문법 에러

SyntaxError: invalid syntax (<ipython-input-22-e2fece9a7579>, line 1)

In [23]:
"\"123\""  # 쌍따옴표 사용하기 위해 쌍따옴표 앞에 역슬래쉬 삽입

'"123"'

In [24]:
"Hello world"

'Hello world'

In [25]:
'Python is fun'

'Python is fun'

In [8]:
#파이썬 인터프리터에서 여러줄 주석을 """으로 사용할 수 없다"""
# 다중 문자열을 지정하는 방식이지 주석은 아니다. 주석은 그냥 매 줄앞에 # 하던가 
# 블록설정해서 주석 단축키를 사용하자
"""  
Life is too short, You need Python
"""

'  \nLife is too short, You need Python\n'

In [28]:
a = "Life is too short \t You need Python"
print(a)

Life is too short 	 You need Python

In [27]:
''' Life is too short, You need Python '''

' Life is too short, You need Python '

In [28]:
Python's favorite food is perl

SyntaxError: EOL while scanning string literal (<ipython-input-28-b75c51646192>, line 1)

In [29]:
food = "Python's favorite food is perl"

In [30]:
food

"Python's favorite food is perl"

In [31]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-31-336a85538234>, line 1)

In [32]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-32-f87acc609a0a>, line 1)

In [33]:
say = '"Python is very easy." he says.'

In [34]:
say

'"Python is very easy." he says.'

In [35]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [36]:
food

"Python's favorite food is perl"

In [37]:
say

'"Python is very easy." he says.'

In [41]:
multiline = "Life is too short\nYou need python"

In [42]:
multiline

'Life is too short\nYou need python'

In [43]:
multiline = '''
Life is too short
You need python
'''

In [44]:
multiline

'\nLife is too short\nYou need python\n'

In [45]:
print(multiline)

Life is too short
You need python

In [46]:
multiline = "Life is too short\nYou need python"

In [47]:
print(multiline)

Life is too short
You need python

In [48]:
multiline = '''Life is too short
You need python''' # 줄나누기

In [49]:
print(multiline)

Life is too short
You need python

In [50]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [51]:
a = "python"
a * 2

'pythonpython'

In [52]:
print("=" * 10)
print("My program")
print("=" * 10)

==========
My program
==========

In [53]:
a = "Life is too short"
len(a)

17

In [54]:
b = "You need Python"
len(b)

15

In [55]:
a = "Life is too short, You need python"
a[3]

'e'

In [56]:
a[0]

'L'

In [57]:
a[1]

'i'

In [29]:
a[{2}]  # index의 복수형은 indices

TypeError: string indices must be integers

In [59]:
a[2]

'f'

In [60]:
a[3]

'e'

In [61]:
a[4]

' '

In [62]:
a = "Life is too short, You need python"
a[0]

'L'

In [63]:
a[2]

'f'

In [64]:
a[12]

's'

In [65]:
a[-1]

'n'

In [66]:
a[-0]

'L'

In [67]:
a[-2]

'o'

In [68]:
a[-5]

'y'

In [69]:
a = "Life is too short, You need python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [70]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [71]:
a[0:3]

'Lif'

In [72]:
a[0:5]

'Life '

In [73]:
a[0:2]

'Li'

In [74]:
a[5:7]

'is'

In [75]:
a[12:17]

'short'

In [76]:
a[19:]

'You need Python'

In [77]:
a[:17]

'Life is too short'

In [78]:
a[:]

'Life is too short, You need Python'

In [79]:
a[19:-7]

'You need'

In [30]:
a = "20010331Rainy"
date = a[:8]
weather= a[8:]
date

'Rainy'

In [81]:
weather

'Rainy'

In [82]:
a = "20010331Rainy"
date = a[:8]
weather= a[8:]
print(date)
print(weather)

20010331
Rainy

In [83]:
a = "20010331Rainy"
year = a[:4]
date = a[4:8]
weather= a[8:]
print(year)
print(date)
print(weather)

2001
0331
Rainy

In [84]:
a = "Pithon"
a[1]

'i'

In [85]:
a[1] = 'y' #오류 발생이유는 문자열의 요솟값은 바꿀수 있는 값이 아니기 때문. 
# 문자열 자료형은 그 요솟값을 바꿀 수 없으며 immutable한 자료형이라고 부름

TypeError: 'str' object does not support item assignment

In [86]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

In [87]:
a = "Pithon"
a[:1]
print(a)
a[2:]
print(a)
a[:1] + 'y' + a[2:]

Pithon
Pithon

'Python'

In [88]:
a = "Pithon"
a[:1]
print(a[:1])
a[2:]
print(a[2:])
a[:1] + 'y' + a[2:]

P
thon

'Python'

In [89]:
"I eat %d apples." % 3 #문자열 포매팅 기법
#문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것

'I eat 3 apples.'

In [90]:
"I eat %s apples." % "five" #문자열 포매팅이란 
#문자열 안에 어떤 값을 삽입하는 방법

'I et five apples.'

In [91]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [92]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [93]:
"I have %s apples" % 3

'I have 3 apples'

In [94]:
" rate is %s" % 3.234

' rate is 3.234'

In [95]:
"Error is %d%." %98

ValueError: incomplete format

In [96]:
"Error is %d%%." % 98

'Error is 98%.'

In [98]:
"%10s" % "hi"

'        hi'

In [31]:
"%-10sjane" % "hi"

'hi        jane'

In [32]:
"%10s밥" %"오늘"

'        오늘밥'

In [100]:
"%0.4f" % 3.42134234

'3.4213'

In [101]:
"%10.4f" % 3.42134234

'    3.4213'

In [102]:
"%0.4f" % 3.42137112

'3.4214'

In [103]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [104]:
"I eat {0} apples".format("five")

'I eat five apples'

In [105]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [106]:
number =10 
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [2]:
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter"%lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler"%lang)
    else:
        print("should not reach here")

python need interpreter
  perl need interpreter
     c need compiler
  java need compiler