In [3]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [4]:
"I eat {0} apples".format("five")

'I eat five apples'

In [5]:
number = 3
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 3 apples. so I was sick for three days'

In [6]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number, day)

KeyError: 'number'

In [231]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [232]:
"I ate {number} apples. so I was sick for {day} days".format(10, day=3)

KeyError: 'number'

In [233]:
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [234]:
"{0:<10}".format("hi")

'hi        '

In [235]:
"{0:>10}".format("hi")

'        hi'

In [236]:
"{0:^10}".format("hi")

'    hi    '

## 문자열 관련 함수

### 문자개수 세기(count)

In [237]:
a = "hobby"
a.count('b')

2

### 위치 알려주기 (find)

In [238]:
a = "Python is the best choice"
a.find('b')

14

In [239]:
a = "Python is the best choice"
a.find('k')

-1

### 위치 알려주기 (index)

In [240]:
a = "Life is too short"
a.index('t')

8

In [241]:
a = "Life is too short"
a.index('k')

ValueError: substring not found

### 문자열 삽입 (join)

In [242]:
",".join("abcd")

'a,b,c,d'

In [243]:
",".join(['a','b','c','d'])

'a,b,c,d'

### 소문자를 대문자로 바꾸기 (upper)

In [244]:
a = 'hi'
a.upper()

'HI'

###  대문자를 소문자로 바꾸기 (lower)

In [245]:
a = 'HI'

In [246]:
a.lower()

'hi'

### 왼쪽 공백 지우기 (lstrip)

In [247]:
a = ' hi '
a.lstrip()

'hi '

In [248]:
a = ' hi '
a.rstrip()

' hi'

In [249]:
a = ' hi '
a.strip()

'hi'

### 문자열 바꾸기 (replace)

In [250]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기 (split)

In [251]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [252]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [255]:
a = """Lifeistooshort 
youneedpython"""
a.split()

['Lifeistooshort', 'youneedpython']

## 리스트 자료형

In [ ]:
odd = [1,3,5,7,9]

In [259]:
a = []
print(a) # 신기하게도 출력값이 None 이 아니라 대괄호로 된 빈 리스트이다.
a

[]

[]

In [260]:
b = [1,2,3]

In [261]:
c = ['Life', 'is', 'too', 'short']

In [262]:
d = [1, 2, 'Life', 'is']

In [263]:
e = [1, 2, ['Life', 'is']]

### 리스트 인덱싱

In [264]:
a = [1, 2, 3]
a

[1, 2, 3]

In [265]:
a[0]

1

In [266]:
a[2]

3

In [267]:
a[0] + a[2]

4

In [268]:
a[-1]

3

In [269]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [270]:
a[0]

1

In [271]:
a[-1]

['a', 'b', 'c']

In [272]:
a[-1][0]

'a'

In [273]:
a[-1][1]

'b'

In [274]:
a[3][2]

'c'

In [275]:
a =[1,2,['a','b',['Life', 'is']]]

In [276]:
a[2][2]

['Life', 'is']

In [277]:
a[-1][-1][0]

'Life'

In [278]:
a = [1, 2, 3, 4, 5]

In [279]:
a[0:2]

[1, 2]

In [280]:
a = "12345"

In [281]:
a[0:2]

'12'

In [282]:
a = [1,2,3,4,5]
a[:2]

[1, 2]

In [283]:
a[2:]

[3, 4, 5]

In [27]:
a = [1,2,3,['a','b','c'],4,5]

In [28]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [29]:
a[3][:2]

['a', 'b']

## 리스트 연산

### 리스트 더하기(+)

In [291]:
a = [1,2,3]
b = [4,5,6]
a + b
print(a+b , b + a) # 순서 바꾸면 순서 바뀐 순으로 추가된다

[1, 2, 3, 4, 5, 6] [4, 5, 6, 1, 2, 3]

### 리스트 반복하기(*)

In [31]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [32]:
a = [1,2,3]
len(a)

3

In [292]:
a = [1,2,3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [293]:
a = [1,2,3]
str(a[2]) + "hi"  #타입캐스팅을 통해 객체의 타입을 바꿔준다.

'3hi'

## 리스트의 수정과 삭제

### 리스트에서 값 수정하기

In [294]:
a = [1,2,3]
a[2] = 4

In [295]:
a

[1, 2, 4]

In [296]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [297]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

###  리스트에 요소 추가 (append)

In [298]:
a = [1,2,3]
a.append(4)

In [299]:
a

[1, 2, 3, 4]

In [300]:
a.append([5,6]) # 리스트함수 append 괄호 안에 []리스트 형태의 요소를 넣는다면 
# 리스트 요소 자체가 이중 리스트로서 추가된다
#리스트 안에는 어떤 자료형도 추가할 수 있다. (ex 문자열, 정수, 실수, 튜플, 딕셔너리 등)

In [301]:
a

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬(sort)

In [ ]:
a = [1,4,3,2]

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a = ['a','c','b']

In [ ]:
a.sort()

In [ ]:
a

### 리스트 뒤집기(reverse)

In [ ]:
a = ['a','c','b']

In [ ]:
a.reverse() # 순서와는 상관없이 그냥 현재의 리스트를 역순으로 뒤집어 준다.

In [ ]:
a

### 위치 반환(index)

In [ ]:
a = [1,2,3]
a.index(3) # 리스트에 괄호안의 값이 있으면 해당 값의 위치값을 돌려준다

In [ ]:
a.index(1)

In [302]:
a.index(0) # 리스트에 존재하지 않는 ValueError 발생

ValueError: 0 is not in list

### 리스트에 요소 삽입(insert)

In [334]:
a = [1,2,3]
a.insert(0, 4) # 삽입하는 값으로는 str, int 다 들어올 수 있다.

In [335]:
a # a[0]의 자리에 4를 삽입해준다. 그러면 원래 값들은 뒤로 밀린다.

[4, 1, 2, 3]

In [336]:
a.insert(3,5)

In [337]:
a

[4, 1, 2, 5, 3]

In [339]:
a.insert(7,"육") #리스트의 인덱스를 벗어난 위치에 요소 삽입을 한다면
   # 리스트의 제일 마지막 인덱스 뒤에 요소값이 추가된다.
    #에러가 나지 않는다는 것!
a

[4, 1, 2, 5, 3, '육']

### 리스트 요소 삭제(remove)

In [308]:
a = [1,2,3,1,2,3]
a.remove(3) #remove를 사용하면 리스트에서 첫 번째로 나오는 괄호안 값을 삭제

In [309]:
a

[1, 2, 1, 2, 3]

In [310]:
a.remove(0) #리스트안에 없는 값을 지우려는 경우 ValueError 발생

ValueError: list.remove(x): x not in list

In [340]:
a = [1,2,3,1,2,3]
del a[3] #del은 3번 인덱스에 위치한 값을 지우는 것이다.
a

[1, 2, 3, 2, 3]

In [40]:
a = [1,2,3,1,2,3]
a.remove(3) #remove는 3이라는 값이 첫번째 등장할 때 그 요소를 지우는 것이다.
a

[1, 2, 1, 2, 3]

In [341]:
a.remove(3)

In [342]:
a

[1, 2, 2, 3]

### 리스트 요소 끄집어내기 (pop)

In [343]:
a = [1,2,3]
a.pop() #기본적으로 리스트의 맨 마지막 요소를 리턴해주고 리스트에서 삭제시킴

3

In [344]:
a #그래서 pop() 이후에 리스트를 다시 출력하면 리스트 마지막요소가 사라져있음

[1, 2]

In [346]:
a = [1,2,3]
a.pop(1) #pop 괄호안에는 인덱스값이 들어와서 해당 인덱스에 해당하는 값을 리턴함

2

In [347]:
a # 그래서 리턴된 값이 제거된 리스트가 출력된다.

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기(count)

In [47]:
a = [1,2,3,1]
a.count(1)

2

### 리스트 확장(extend)

In [48]:
a = [1,2,3]
a.extend([4,5])

In [49]:
a

[1, 2, 3, 4, 5]

In [50]:
b = [6,7]
a.extend(b)

In [51]:
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [52]:
t1 = ()

In [53]:
t2 = (1,)

In [54]:
t3 = (1,2,3)

In [55]:
t4 = 1,2,3

In [56]:
t4

(1, 2, 3)

In [57]:
t5 = ('a', 'b', ('ab', 'cd'))

### 튜플 요소값을 삭제하려 할 때

In [58]:
t1 = (1, 2, 'a', 'b')

In [59]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요소값을 변경하려 할 때

In [ ]:
t1 = (1,2, 'a', 'b')

In [ ]:
t1[0]='c'

## 튜플 다루기

### 인덱싱 하기

In [ ]:
t1 = (1,2, 'a', 'b')

In [ ]:
t1[0]

In [ ]:
t1[3]

### 슬라이싱 하기

In [ ]:
t1 = (1,2, 'a', 'b')
t1[1:]

### 튜플 더하기

In [ ]:
t2 = (3,4)
t1 + t2

### 튜플 곱하기

In [ ]:
t1*3

In [ ]:
t2*3

### 튜플 길이 구하기

In [ ]:
len(t1)

## 딕셔너리 자료형

In [ ]:
dic = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}

In [ ]:
a = {1:"hi"}

In [ ]:
a = {'a':[1,2,3]}

In [ ]:
a['a']

###  딕셔너리 쌍 추가, 삭제 하기

In [ ]:
a = {1: 'a'}

In [ ]:
a[1]

In [ ]:
a[2] = 'b'

In [ ]:
a

In [ ]:
a['name'] = 'pey'

In [ ]:
a

In [ ]:
a[3] = [1,2,3]

In [60]:
a

[1, 2, 3, 4, 5, 6, 7]

### 딕셔너리 요소 삭제하기

In [61]:
del a[1]

In [62]:
a

[1, 3, 4, 5, 6, 7]

### 딕셔너리에서 key를 사용해 value얻기

In [63]:
grade = {'pey':10, 'julliet':99}

In [64]:
grade['pey']

10

In [65]:
grade['julliet']

99

In [66]:
a = {1:'a', 2:'b'}

In [67]:
a[1]

'a'

In [68]:
a[2]

'b'

In [69]:
a = {'a':1, 'b':2}

In [70]:
a['a']

1

In [71]:
a['b']

2

### 딕셔너리 만들 때 주의사항

In [72]:
a = {1:'a', 1:'b'}

In [73]:
a

{1: 'b'}

In [74]:
a[1]

'b'

In [75]:
a = {[1,2]:"hi"}

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수

### Key 리스트 만들기(key)

In [ ]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.keys()

In [ ]:
for k in a.keys():
    print(k)

In [ ]:
list(a.keys())

In [ ]:
a.values()

In [ ]:
list(a.values())

#### Key, Value 쌍 얻기(items)

In [ ]:
a.items()

#### Key: value 쌍 모두 지우기(clear)

In [ ]:
a.clear()

In [ ]:
a

#### key로 value 얻기 (get)

In [ ]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.get('name')

In [ ]:
a.get('phone')

In [ ]:
print(a.get('nokey'))

In [ ]:
print(a['nokey'])

In [ ]:
a.get('foo','bar')

#### 해당 key가 딕셔너리 안에 있는지 조사하기(in)

In [ ]:
'name' in a

In [ ]:
'email' in a

## 집합 자료형

In [ ]:
s1  = set([1,2,3])

In [ ]:
s1

In [ ]:
s2 = set("Hello")

In [76]:
s2

NameError: name 's2' is not defined

In [ ]:
s1 = set([1,2,3])
s1

In [ ]:
list(s1)

In [ ]:
t1 = s1

In [ ]:
t1

In [ ]:
t1 = tuple(s1)
t1

### 교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

###  교집합

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

### 합집합

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

### 차집합

In [ ]:
s1 - s2

In [ ]:
s2 - s1

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

 ### 집합 자료형 관련 함수

In [ ]:
s1 = set([1,2,3])
s1.add(4)

In [ ]:
s1

In [ ]:
s1.update([5,6,7])

In [77]:
s1

NameError: name 's1' is not defined

In [ ]:
s1.remove(7)

In [ ]:
s1

## 불 자료형

In [ ]:
a = True

In [ ]:
a

In [ ]:
b = False

In [ ]:
b

In [ ]:
type(a)

In [ ]:
1==1

In [ ]:
2>1

In [ ]:
2<1

In [ ]:
a = [1,2,3,4]
while a:
    print(a.pop())

In [ ]:
if []:
    print("참")
else :
    print("거짓")

In [ ]:
if [1,2,3,]:
    print("참")
else :
    print("거짓")

In [ ]:
bool('python')

In [ ]:
bool('')

In [ ]:
bool(0)

In [ ]:
bool(-1)

## 자료형의 값을 저장하는 공간, 변수

In [ ]:
a = 1

In [ ]:
type(a)

In [78]:
b = "python"

In [79]:
type(b)

str

In [80]:
c = [1,2,3]

In [81]:
type(c)

list

### 변수란?

In [82]:
a = [1,2,3]

In [83]:
id(a)

1564697357128

In [84]:
b = a

In [85]:
id(b)

1564697357128

In [86]:
a[2]=4

In [87]:
a

[1, 2, 4]

In [88]:
b

[1, 2, 4]

In [89]:
a is b

True

### 리스트 deep copy 방법

In [90]:
a = [1,2,3]
b = a[:]

In [91]:
id(a)

1564697048392

In [92]:
id(b)

1564696490120

In [93]:
from copy import copy
a = [1,2,3]
b =  copy(a)

In [94]:
a[2] = 4
a

[1, 2, 4]

In [95]:
b

[1, 2, 3]

In [96]:
a,b = ('python', 'life')

In [97]:
a

'python'

In [98]:
b

'life'

In [99]:
[a,b] = ('python', 'life')

In [100]:
a

'python'

In [101]:
b

'life'

In [102]:
a = b = 'python'

In [103]:
a

'python'

In [104]:
b

'python'

In [105]:
a = 3
b = 5
a,b = b,a

In [106]:
a

5

In [107]:
b

3

##  if문

In [108]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [109]:
money = 2000
if money>=3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [110]:
money = 2000
card = True
if money>=3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [111]:
1 in [1,2,3]

True

In [112]:
1 not in [1,2,3]

False

In [113]:
'a' in ['a', 'b', 'c']

True

In [114]:
'j' not in 'python'

True

In [115]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어 가라')

택시를 타고 가라

In [116]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    pass
else:
    print('걸어 가라')

In [117]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    if card:
        print('택시를 타고 가라')
    else: 
        print("걸어가라")

택시를 타고 가라

In [118]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
elif card:
    print('택시를 타고 가라')
else:
    print("걸어가라")

택시를 타고 가라

In [119]:
score = 80

if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [120]:
message

'success'

In [121]:
message = "success" if score >= 60 else "failure"

In [122]:
message

'success'

## while 문

In [123]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit== 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [124]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

In [125]:
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number:

In [126]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
5

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [127]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

### while문의 맨 처음으로 돌아가기(continue)

In [128]:
a = 0
while a < 10:
    a = a + 1
    if (a % 2 == 0): 
        continue
    print(a)

1
3
5
7
9

## for문

In [129]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

one
two
three

In [130]:
a = [(1,2), (3,4),(5,6)]
print(len(a))
for (first, last) in a:
    print(first + last)

3
3
7
11

In [131]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [132]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [133]:
a = range(10)
a

range(0, 10)

In [134]:
a = range(1, 11)
a

range(1, 11)

In [135]:
add = 0
for i in range(100):
    add = add + i + 1

In [136]:
add

5050

In [137]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(i +1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [138]:
for i in range(2,10):
    for j in range(1, 10):
        print("%2d "%(i*j), end=" ")
    print(' ')

 2   4   6   8  10  12  14  16  18
 3   6   9  12  15  18  21  24  27
 4   8  12  16  20  24  28  32  36
 5  10  15  20  25  30  35  40  45
 6  12  18  24  30  36  42  48  54
 7  14  21  28  35  42  49  56  63
 8  16  24  32  40  48  56  64  72
 9  18  27  36  45  54  63  72  81

### 리스트 내포(List comprehension)사용하기

In [139]:
a = [1, 2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [140]:
a = [1,2,3,4]
result = [num*3 for num in a ]

In [141]:
result

[3, 6, 9, 12]

In [142]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0 ]
result

[6, 12]

In [143]:
result = [ x for x in range(2,10) ]
result

[2, 3, 4, 5, 6, 7, 8, 9]

In [144]:
result = [ x*y for x in range(2,10)
         for y in range(1,10) ]

In [145]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

#### 연습문제 3번

In [146]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('*'*i)

*
**
***
****
*****

In [147]:
i = 0
while True:
    i += 1
    if i>5:
        break
    print("@"*i)

@
@@
@@@
@@@@
@@@@@

In [148]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('{0:.^10}'.format("*"*i))

....*.....
....**....
...***....
...****...
..*****...

In [149]:
a = "{0:!^12}".format("python")

In [150]:
print(a)
a.count("!")

!!!python!!!

6

In [151]:
a.find("y")

4

In [152]:
a.find("3")

-1

In [153]:
a.index('t')

5

In [154]:
a.index('s')

ValueError: substring not found

In [156]:
a = [1, 2, 3, 4, 5]
a[1:3]

[2, 3]

In [157]:
a = [ 5, 2, 10,]
a.append(1)
a

[5, 2, 10, 1]

In [158]:
a.sort()
a

[1, 2, 5, 10]

In [159]:
a.reverse()

In [160]:
a

[10, 5, 2, 1]

In [161]:
a.append('a')
a

[10, 5, 2, 1, 'a']

In [162]:
a.reverse()

In [163]:
a

['a', 1, 2, 5, 10]

In [164]:
a.index(3)

ValueError: 3 is not in list

In [ ]:
a.index(5)

In [ ]:
a.insert(5, "b")

In [165]:
a

['a', 1, 2, 5, 10]

In [166]:
a.remove("b")
a

ValueError: list.remove(x): x not in list

In [ ]:
a.pop()
a

In [ ]:
a.pop(4)
a

In [ ]:
a.count("a")

In [ ]:
a.extend([4,5])
a

In [ ]:
b = [6,7]
a.extend(b)
a

In [ ]:
t1 = (1, 2, 'a', 'b')
del t1[2]

In [ ]:
t1[0] = 'c'

In [ ]:
t1[0]

In [ ]:
t1[3]

In [ ]:
t1 = (1, 2, 3)
t1 + (4,)

In [ ]:
a = { (1,2) : "hi"}

In [ ]:
print(a)

In [ ]:
a.keys()

In [ ]:
for k in a.keys():
    print(k)

In [ ]:
list(a.keys())

In [ ]:
a.values()

In [ ]:
a.items()

In [ ]:
dic = {'name':'홍길동', 'birth':'1128', 'age':'30'}

In [225]:
dic

{'국어': 80, '영어': 75, '수학': 55}

In [226]:
s1 = set([1,2,3])

In [227]:
s1

{1, 2, 3}

In [228]:
s2 = set("Hello")

In [229]:
s2

{'H', 'e', 'l', 'o'}

In [169]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [170]:
l1[0]

1

In [171]:
t1 = tuple(s1)

In [172]:
t1

(1, 2, 3)

In [173]:
t1[0]

1

In [174]:
a= True

In [175]:
type(a)

bool

In [176]:
a = [1, 2, 3, 4]
while a:
    a.pop()

In [177]:
a

[]

In [178]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [179]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [180]:
dic = {"국어":80, "영어":75, "수학":55}
( dic.get('국어') + dic.get('영어') + dic.get('수학') ) / len(dic)

70.0

In [181]:
pin = "881120-1068234"
yyyymmdd = "19" + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [182]:
pin = "881120-1068234"
print(pin[7:8])

1

In [183]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [184]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [185]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [186]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [187]:
a = dict()
a

{}

In [188]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [ ]:
a[('a')] = 'python'

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt
print(prompt)

In [ ]:
prompt

## 2장 연습문제

### 1번 문제

In [ ]:
dic = {'국어':80, '영어':75, '수학':55}
(dic.get('국어') + dic.get('영어') + dic.get('수학'))/len(dic)

### 2번 문제

In [ ]:
if 13%2 == 0:
    print('even')
else:
    print('odd')

### 3번 문제

In [ ]:
pin = '881120-1068234'
yyyymmdd = '19' + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)


### 4번 문제

In [ ]:
pin = "881120-1068234"
print(pin[7:8])

### 5번 문제

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

###  6번 문제

In [210]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

### 7번 문제

In [211]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 8번 문제

In [212]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 9번 문제

In [213]:
a = dict()
a
a['name'] = 'python'
a[('a',)] = 'python'
a[250] = 'python'

In [214]:
a = dict()
a

{}

In [215]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

### 10번 문제

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

###  11번 문제

In [216]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

###  12번 문제

In [217]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

## 3장 연습문제

### 1번 문제

In [218]:
a = 'Life is too short, you need python'
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a : print("need")
else : print("none")

shirt

###  2번 문제

In [219]:
result = 0
i = 1 
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

###  3번 문제

In [220]:
i = 0
while True:
    i += 1
    if i >5:
        break
    print("*"*i)

*
**
***
****
*****

### 4번 문제

In [221]:
for i in range(1,101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### 5번 문제

In [222]:
A = [ 70, 60, 55, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/ len(A)
print(average)
print(total)
print(len(A))

79.44444444444444
715
9

### 6번 문제

In [223]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [224]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n %2 == 1]
print(result)

[2, 6, 10]