In [3]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [4]:
"I eat {0} apples".format("five")

'I eat five apples'

In [5]:
number = 3
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 3 apples. so I was sick for three days'

In [6]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number, day)

KeyError: 'number'

In [231]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [232]:
"I ate {number} apples. so I was sick for {day} days".format(10, day=3)

KeyError: 'number'

In [233]:
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [234]:
"{0:<10}".format("hi")

'hi        '

In [235]:
"{0:>10}".format("hi")

'        hi'

In [236]:
"{0:^10}".format("hi")

'    hi    '

## 문자열 관련 함수

### 문자개수 세기(count)

In [237]:
a = "hobby"
a.count('b')

2

### 위치 알려주기 (find)

In [238]:
a = "Python is the best choice"
a.find('b')

14

In [239]:
a = "Python is the best choice"
a.find('k')

-1

### 위치 알려주기 (index)

In [240]:
a = "Life is too short"
a.index('t')

8

In [241]:
a = "Life is too short"
a.index('k')

ValueError: substring not found

### 문자열 삽입 (join)

In [242]:
",".join("abcd")

'a,b,c,d'

In [243]:
",".join(['a','b','c','d'])

'a,b,c,d'

### 소문자를 대문자로 바꾸기 (upper)

In [244]:
a = 'hi'
a.upper()

'HI'

###  대문자를 소문자로 바꾸기 (lower)

In [245]:
a = 'HI'

In [246]:
a.lower()

'hi'

### 왼쪽 공백 지우기 (lstrip)

In [247]:
a = ' hi '
a.lstrip()

'hi '

In [248]:
a = ' hi '
a.rstrip()

' hi'

In [249]:
a = ' hi '
a.strip()

'hi'

### 문자열 바꾸기 (replace)

In [250]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기 (split)

In [251]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [252]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [255]:
a = """Lifeistooshort 
youneedpython"""
a.split()

['Lifeistooshort', 'youneedpython']

## 리스트 자료형

In [ ]:
odd = [1,3,5,7,9]

In [259]:
a = []
print(a) # 신기하게도 출력값이 None 이 아니라 대괄호로 된 빈 리스트이다.
a

[]

[]

In [260]:
b = [1,2,3]

In [261]:
c = ['Life', 'is', 'too', 'short']

In [262]:
d = [1, 2, 'Life', 'is']

In [263]:
e = [1, 2, ['Life', 'is']]

### 리스트 인덱싱

In [264]:
a = [1, 2, 3]
a

[1, 2, 3]

In [265]:
a[0]

1

In [266]:
a[2]

3

In [267]:
a[0] + a[2]

4

In [268]:
a[-1]

3

In [269]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [270]:
a[0]

1

In [271]:
a[-1]

['a', 'b', 'c']

In [272]:
a[-1][0]

'a'

In [273]:
a[-1][1]

'b'

In [274]:
a[3][2]

'c'

In [275]:
a =[1,2,['a','b',['Life', 'is']]]

In [276]:
a[2][2]

['Life', 'is']

In [277]:
a[-1][-1][0]

'Life'

In [278]:
a = [1, 2, 3, 4, 5]

In [279]:
a[0:2]

[1, 2]

In [280]:
a = "12345"

In [281]:
a[0:2]

'12'

In [282]:
a = [1,2,3,4,5]
a[:2]

[1, 2]

In [283]:
a[2:]

[3, 4, 5]

In [27]:
a = [1,2,3,['a','b','c'],4,5]

In [28]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [29]:
a[3][:2]

['a', 'b']

## 리스트 연산

### 리스트 더하기(+)

In [291]:
a = [1,2,3]
b = [4,5,6]
a + b
print(a+b , b + a) # 순서 바꾸면 순서 바뀐 순으로 추가된다

[1, 2, 3, 4, 5, 6] [4, 5, 6, 1, 2, 3]

### 리스트 반복하기(*)

In [31]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [32]:
a = [1,2,3]
len(a)

3

In [292]:
a = [1,2,3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [293]:
a = [1,2,3]
str(a[2]) + "hi"  #타입캐스팅을 통해 객체의 타입을 바꿔준다.

'3hi'

## 리스트의 수정과 삭제

### 리스트에서 값 수정하기

In [294]:
a = [1,2,3]
a[2] = 4

In [295]:
a

[1, 2, 4]

In [296]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [297]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

###  리스트에 요소 추가 (append)

In [298]:
a = [1,2,3]
a.append(4)

In [299]:
a

[1, 2, 3, 4]

In [300]:
a.append([5,6]) # 리스트함수 append 괄호 안에 []리스트 형태의 요소를 넣는다면 
# 리스트 요소 자체가 이중 리스트로서 추가된다
#리스트 안에는 어떤 자료형도 추가할 수 있다. (ex 문자열, 정수, 실수, 튜플, 딕셔너리 등)

In [301]:
a

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬(sort)

In [ ]:
a = [1,4,3,2]

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a = ['a','c','b']

In [ ]:
a.sort()

In [ ]:
a

### 리스트 뒤집기(reverse)

In [ ]:
a = ['a','c','b']

In [ ]:
a.reverse() # 순서와는 상관없이 그냥 현재의 리스트를 역순으로 뒤집어 준다.

In [ ]:
a

### 위치 반환(index)

In [ ]:
a = [1,2,3]
a.index(3) # 리스트에 괄호안의 값이 있으면 해당 값의 위치값을 돌려준다

In [ ]:
a.index(1)

In [302]:
a.index(0) # 리스트에 존재하지 않는 ValueError 발생

ValueError: 0 is not in list

### 리스트에 요소 삽입(insert)

In [334]:
a = [1,2,3]
a.insert(0, 4) # 삽입하는 값으로는 str, int 다 들어올 수 있다.

In [335]:
a # a[0]의 자리에 4를 삽입해준다. 그러면 원래 값들은 뒤로 밀린다.

[4, 1, 2, 3]

In [336]:
a.insert(3,5)

In [337]:
a

[4, 1, 2, 5, 3]

In [339]:
a.insert(7,"육") #리스트의 인덱스를 벗어난 위치에 요소 삽입을 한다면
   # 리스트의 제일 마지막 인덱스 뒤에 요소값이 추가된다.
    #에러가 나지 않는다는 것!
a

[4, 1, 2, 5, 3, '육']

### 리스트 요소 삭제(remove)

In [308]:
a = [1,2,3,1,2,3]
a.remove(3) #remove를 사용하면 리스트에서 첫 번째로 나오는 괄호안 값을 삭제

In [309]:
a

[1, 2, 1, 2, 3]

In [310]:
a.remove(0) #리스트안에 없는 값을 지우려는 경우 ValueError 발생

ValueError: list.remove(x): x not in list

In [340]:
a = [1,2,3,1,2,3]
del a[3] #del은 3번 인덱스에 위치한 값을 지우는 것이다.
a

[1, 2, 3, 2, 3]

In [40]:
a = [1,2,3,1,2,3]
a.remove(3) #remove는 3이라는 값이 첫번째 등장할 때 그 요소를 지우는 것이다.
a

[1, 2, 1, 2, 3]

In [341]:
a.remove(3)

In [342]:
a

[1, 2, 2, 3]

### 리스트 요소 끄집어내기 (pop)

In [343]:
a = [1,2,3]
a.pop() #기본적으로 리스트의 맨 마지막 요소를 리턴해주고 리스트에서 삭제시킴

3

In [344]:
a #그래서 pop() 이후에 리스트를 다시 출력하면 리스트 마지막요소가 사라져있음

[1, 2]

In [346]:
a = [1,2,3]
a.pop(1) #pop 괄호안에는 인덱스값이 들어와서 해당 인덱스에 해당하는 값을 리턴함

2

In [349]:
a # 그래서 리턴된 값이 제거된 리스트가 출력된다.

[1, 3]

In [350]:
a = [1,2,3]
a.pop(4) #인덱스 값을 벗어난 값을 pop()에 넣는 경우 에러가 발생한다.

IndexError: pop index out of range

### 리스트에 포함된 요소 x의 개수 세기(count)

In [351]:
a = [1,2,3,1]
a.count(1) #count() 안에 입력한 값을 리스트에서 센다

2

In [352]:
a.count(4) #리스트에 없는 값을 입력하더라도 에러발생하지는 않는다.

0

### 리스트 확장(extend)

In [355]:
a = [1,2,3]
a.extend([4,5]) # extend는 리스트를 입력해줘야 된다. 
                #그래야 원래 리스트에 입력한 리스트가 더해진다.
                #a.extend([4,5]) 는  a +=[4,5]와 동일하다.

In [356]:
a

[1, 2, 3, 4, 5]

In [357]:
b = [6,7]
a.extend(b)

In [358]:
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [359]:
t1 = ()

In [360]:
t2 = (1,)

In [361]:
t3 = (1,2,3)

In [362]:
t4 = 1,2,3

In [365]:
t4

(1, 2, 3)

In [367]:
t44 = 'a','b','c'

In [369]:
t44

('a', 'b', 'c')

In [372]:
t444 = 'abc', 'def', 'ghi'

In [373]:
t444

('abc', 'def', 'ghi')

In [57]:
t5 = ('a', 'b', ('ab', 'cd'))

### 튜플 요소값을 삭제하려 할 때

In [58]:
t1 = (1, 2, 'a', 'b')

In [59]:
del t1[0] # 튜플은 요소를 지우는 행위가 지원되지 않는다

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요소값을 변경하려 할 때

In [374]:
t1 = (1,2, 'a', 'b')

In [375]:
t1[0]='c' # 튜플은 요솟값을 변경하는 행위가 지원되지 않는다.

TypeError: 'tuple' object does not support item assignment

## 튜플 다루기

### 인덱싱 하기

In [376]:
t1 = (1,2, 'a', 'b')

In [377]:
t1[0]

1

In [378]:
t1[3]

'b'

### 슬라이싱 하기

In [379]:
t1 = (1,2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [380]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [381]:
t1*3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [382]:
t2*3

(3, 4, 3, 4, 3, 4)

### 튜플 길이 구하기

In [383]:
len(t1)

4

## 딕셔너리 자료형

In [388]:
dic = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}

In [389]:
a = {1:"hi"} # key로 정수값이 올 수 있다.

In [390]:
a = {'a':[1,2,3]} #value에 리스트도 넣을 수 있다.

In [391]:
a['a']

[1, 2, 3]

###  딕셔너리 쌍 추가, 삭제 하기

In [392]:
a = {1: 'a'}

In [393]:
a[1]

'a'

In [394]:
a[2] = 'b'

In [395]:
a

{1: 'a', 2: 'b'}

In [396]:
a['name'] = 'pey'

In [397]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [398]:
a[3] = [1,2,3]

In [401]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 요소 삭제하기

In [402]:
del a[1] # del은 a딕셔너리에서 [key]에 해당하는 {key:value}쌍을 삭제함

In [403]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리에서 key를 사용해 value얻기

In [63]:
grade = {'pey':10, 'julliet':99}

In [64]:
grade['pey']

10

In [65]:
grade['julliet']

99

In [406]:
a = {1:'a', 2:'b'}

In [407]:
a[1] # 딕셔너리는 리스트나 튜플에 있는 인덱싱 방법을 적용할 수 없다.

'a'

In [408]:
a[2]  #key가 2인 요소의 value 리턴한다.

'b'

In [409]:
a = {'a':1, 'b':2}

In [410]:
a['a']

1

In [411]:
a['b']

2

### 딕셔너리 만들 때 주의사항

In [72]:
a = {1:'a', 1:'b'}

In [73]:
a # key는 고유한 값이므로 중복되는 key값을 설정해놓으면 하나를 제외한 나머지는
    #모두 무시된다.

{1: 'b'}

In [74]:
a[1]

'b'

In [75]:
a = {[1,2]:"hi"} #key에 리스트는 쓸 수 없다. 
                #하지만 튜플은 key로 쓸 수 있다. 
                # key가 변하는 값인지 변하지 않는 값인지에 달려있는 것.

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수

### Key 리스트 만들기(keys)

In [412]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.keys() # 딕셔너리 a의 key만을 모아서 dict_keys 객체를 리턴함

dict_keys(['name', 'phone', 'birth'])

In [413]:
for k in a.keys():
    print(k) # 이렇게 하면 요소들만 뽑아내 출력할 수 있다.
        #하지만 리스트 고유의 append, insert등과 같은 리스트 함수는 수행할 수 없다.

name
phone
birth

In [417]:
list(a.keys()) #반환 값으로 리스트가 필요한 경우에는 이렇게 사용하면 된다.

['name', 'phone', 'birth']

### value 리스트 만들기(values)

In [415]:
a.values() #key를 얻는것과 마찬가지로 value만 얻고 싶다면 values함수를 사용
            # dict_values 객체를 리턴한다.

dict_values(['pey', '010-1234-5678', '1118'])

In [416]:
list(a.values())

['pey', '010-1234-5678', '1118']

#### Key, Value 쌍 얻기(items)

In [419]:
a.items() # key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 리턴함

dict_items([('name', 'pey'), ('phone', '010-1234-5678'), ('birth', '1118')])

#### Key: value 쌍 모두 지우기(clear)

In [420]:
a.clear() # 딕셔너리 안의 모든 요소를 삭제한다. 비어있는 딕셔너리가 출력됨

In [421]:
a

{}

#### key로 value 얻기 (get)

In [422]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.get('name') # a['name']과 동일한 결괏값을 리턴함

'pey'

In [423]:
a.get('phone')

'010-1234-5678'

In [424]:
print(a.get('nokey')) # get사용하면 None을 얻는데

None

In [425]:
print(a['nokey']) #그냥 a[key] 사용하면 에러난다.

KeyError: 'nokey'

In [426]:
a.get('foo','bar') #딕셔너리 안에 찾으려는 key값이 없을 경우
                  # 미리 정해 둔 default 값을 대신 가져오게 함
                # get(x, default값)

'bar'

#### 해당 key가 딕셔너리 안에 있는지 조사하기(in)

In [427]:
'name' in a

True

In [428]:
'email' in a

False

## 집합 자료형

In [429]:
s1  = set([1,2,3]) # set키워드를 사용해 만들 수 있다.
# 이처럼 리스트를 set()괄호안에 입력하여 집함 만들거나

In [430]:
s1

{1, 2, 3}

In [431]:
s2 = set("Hello") # set()괄호안에 문자열을 입력하여 집합 만들 수 있다

In [432]:
s2 # 자연스럽게 중복이 제거된다. 모든 데이터가 유니크하며 순서도 없다
# set은 그래서 인덱싱으로 값을 얻을 수 없다. 딕셔너리와 비슷

{'H', 'e', 'l', 'o'}

In [436]:
s1 = set([1,2,3]) #set자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 
                 # 변환 후 해야한다.
s1

{1, 2, 3}

In [437]:
list(s1) #리스트로 변환

[1, 2, 3]

In [438]:
t1 = s1

In [439]:
t1

{1, 2, 3}

In [440]:
t1 = tuple(s1) #튜플로 변환
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [441]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

###  교집합

In [442]:
s1 & s2

{4, 5, 6}

In [443]:
s1.intersection(s2)

{4, 5, 6}

### 합집합

In [444]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [445]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

In [446]:
s1 - s2

{1, 2, 3}

In [447]:
s2 - s1

{7, 8, 9}

In [448]:
s1.difference(s2)

{1, 2, 3}

In [449]:
s2.difference(s1)

{7, 8, 9}

 ### 집합 자료형 관련 함수

In [450]:
s1 = set([1,2,3]) #일단 리스트를 집합으로 변환후 사용가능하다
s1.add(4)

In [451]:
s1

{1, 2, 3, 4}

In [452]:
s1.update([5,6,7]) #위 집합에 리스트식 요소를 집합으로 여러 값을 한꺼번에 추가

In [453]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [454]:
s1.remove(7) #리스트가 아니라 집합이기 때문에 인덱스 번호가 아닌 "값"이다.
        #집합은 인덱싱 접근 불가하다! unordered 이기 때문

In [455]:
s1

{1, 2, 3, 4, 5, 6}

## 불 자료형

In [456]:
a = True

In [457]:
a

True

In [458]:
b = False

In [459]:
b

False

In [460]:
type(a)

bool

In [461]:
1==1

True

In [462]:
2>1

True

In [463]:
2<1

False

In [464]:
a = [1,2,3,4]
while a: # a가 참인동안 
    print(a.pop()) #리스트의 마지막 요소를 하나씩 꺼낸다

4
3
2
1

In [609]:
if []: #만약 [] 가 참이라면
    print("참")
else : #만약 []가 거짓이라면
    print("거짓")

거짓

In [466]:
if [1,2,3,]:
    print("참")
else :
    print("거짓")

참

In [467]:
bool('python')

True

In [468]:
bool('')

False

In [469]:
bool(0)

False

In [470]:
bool(-1)

True

## 자료형의 값을 저장하는 공간, 변수

In [471]:
a = 1

In [472]:
type(a)

int

In [473]:
b = "python"

In [610]:
type(b)

str

In [611]:
c = [1,2,3]

In [612]:
type(c)

list

### 변수란? 
#### 파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다.
#### 객체란 지금껏 보아 온 자료형과 같은 것을 의미

In [477]:
a = [1,2,3] # [1,2,3]값을 가지는 리스트 자료형(객체)이 자동으로 메모리에 생성됨
            # 변수 a는 리스트가 저장된 메모리의 주소를 가리키게 됨

In [613]:
id(a) # a 변수가 가리키는 메모리의 주소

1564697603112

### 리스트 shallow copy 방법

In [479]:
b = a # shallow copy는 동일한 리스트를 가리키고 있게 됨.

In [480]:
id(b)

1564728868104

In [481]:
a[2]=4

In [482]:
a

[1, 2, 4]

In [483]:
b

[1, 2, 4]

In [484]:
a is b

True

### 리스트 deep copy 방법

In [485]:
a = [1,2,3]
b = a[:]

In [486]:
id(a)

1564728843208

In [487]:
id(b)

1564695717064

In [488]:
from copy import copy
a = [1,2,3]
b =  copy(a)

In [489]:
a[2] = 4
a

[1, 2, 4]

In [614]:
b

'a#b#c#d'

### copy 모듈 사용

In [618]:
from copy import copy
a = [1,2,3]
b = copy(a)
b

[1, 2, 3]

In [619]:
print(a)
print(b)
b is a

[1, 2, 3]
[1, 2, 3]

False

In [491]:
a,b = ('python', 'life') # 튜플로 a,b 에 값을 대입할 수 있다.

In [492]:
a

'python'

In [493]:
b

'life'

In [623]:
[a,b] = ['python', 'life'] #리스트로 변수를 만들 수도 있다.

In [624]:
a

'python'

In [625]:
b

'life'

In [626]:
a = b = 'python' #여러개의 변수에 같은 값을 대입할 수도 있다

In [627]:
a

'python'

In [628]:
b

'python'

In [629]:
a = 3
b = 5
a,b = b,a  # 튜플 언팩킹을 이용한 것이다. (내부적으로는 임시변수를 썼을것)

In [630]:
a

5

In [502]:
b

3

##  if문

In [503]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [504]:
money = 2000
if money>=3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [505]:
money = 2000
card = True
if money>=3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [506]:
1 in [1,2,3]

True

In [507]:
1 not in [1,2,3]

False

In [508]:
'a' in ['a', 'b', 'c']  # 리스트나 튜플에서 요소 유무를 판별할 수 있다

True

In [509]:
'j' not in 'python'  # 문자열 안에 문자가있나 없나도 판별가능하다

True

In [510]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어 가라')

택시를 타고 가라

In [511]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    pass
else:
    print('걸어 가라')

In [512]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    if card:
        print('택시를 타고 가라')
    else: 
        print("걸어가라")

택시를 타고 가라

In [513]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
elif card:
    print('택시를 타고 가라')
else:
    print("걸어가라")

택시를 타고 가라

In [514]:
score = 80

if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [515]:
message

'success'

In [516]:
message = "success" if score >= 60 else "failure"

In [517]:
message

'success'

## while 문

In [518]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit== 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [519]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

In [520]:
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number:

In [521]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [522]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

### while문의 맨 처음으로 돌아가기(continue)

In [523]:
a = 0
while a < 10:
    a = a + 1
    if (a % 2 == 0): 
        continue
    print(a)

1
3
5
7
9

## for문

In [524]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

one
two
three

In [525]:
a = [(1,2), (3,4),(5,6)]
print(len(a))
for (first, last) in a:
    print(first + last)

3
3
7
11

In [526]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [527]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [528]:
a = range(10)
a

range(0, 10)

In [529]:
a = range(1, 11)
a

range(1, 11)

In [530]:
add = 0
for i in range(100):
    add = add + i + 1

In [531]:
add

5050

In [532]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(i +1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [533]:
for i in range(2,10):
    for j in range(1, 10):
        print("%2d "%(i*j), end=" ")
    print(' ')

 2   4   6   8  10  12  14  16  18
 3   6   9  12  15  18  21  24  27
 4   8  12  16  20  24  28  32  36
 5  10  15  20  25  30  35  40  45
 6  12  18  24  30  36  42  48  54
 7  14  21  28  35  42  49  56  63
 8  16  24  32  40  48  56  64  72
 9  18  27  36  45  54  63  72  81

### 리스트 내포(List comprehension)사용하기

In [534]:
a = [1, 2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [535]:
a = [1,2,3,4]
result = [num*3 for num in a ]

In [536]:
result

[3, 6, 9, 12]

In [537]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0 ]
result

[6, 12]

In [538]:
result = [ x for x in range(2,10) ]
result

[2, 3, 4, 5, 6, 7, 8, 9]

In [539]:
result = [ x*y for x in range(2,10)
         for y in range(1,10) ]

In [540]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

#### 연습문제 3번

In [541]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('*'*i)

*
**
***
****
*****

In [542]:
i = 0
while True:
    i += 1
    if i>5:
        break
    print("@"*i)

@
@@
@@@
@@@@
@@@@@

In [543]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('{0:.^10}'.format("*"*i))

....*.....
....**....
...***....
...****...
..*****...

In [544]:
a = "{0:!^12}".format("python")

In [545]:
print(a)
a.count("!")

!!!python!!!

6

In [546]:
a.find("y")

4

In [547]:
a.find("3")

-1

In [548]:
a.index('t')

5

In [550]:
a.index('s')

ValueError: substring not found

In [ ]:
a = [1, 2, 3, 4, 5]
a[1:3]

In [551]:
a = [ 5, 2, 10,]
a.append(1)
a

[5, 2, 10, 1]

In [552]:
a.sort()
a

[1, 2, 5, 10]

In [553]:
a.reverse()

In [554]:
a

[10, 5, 2, 1]

In [555]:
a.append('a')
a

[10, 5, 2, 1, 'a']

In [556]:
a.reverse()

In [557]:
a

['a', 1, 2, 5, 10]

In [558]:
a.index(3)

ValueError: 3 is not in list

In [ ]:
a.index(5)

In [ ]:
a.insert(5, "b")

In [ ]:
a

In [ ]:
a.remove("b")
a

In [ ]:
a.pop()
a

In [ ]:
a.pop(4)
a

In [ ]:
a.count("a")

In [ ]:
a.extend([4,5])
a

In [ ]:
b = [6,7]
a.extend(b)
a

In [ ]:
t1 = (1, 2, 'a', 'b')
del t1[2]

In [ ]:
t1[0] = 'c'

In [ ]:
t1[0]

In [ ]:
t1[3]

In [ ]:
t1 = (1, 2, 3)
t1 + (4,)

In [ ]:
a = { (1,2) : "hi"}

In [ ]:
print(a)

In [ ]:
a.keys()

In [ ]:
for k in a.keys():
    print(k)

In [ ]:
list(a.keys())

In [ ]:
a.values()

In [ ]:
a.items()

In [559]:
dic = {'name':'홍길동', 'birth':'1128', 'age':'30'}

In [560]:
dic

{'name': '홍길동', 'birth': '1128', 'age': '30'}

In [561]:
s1 = set([1,2,3])

In [562]:
s1

{1, 2, 3}

In [563]:
s2 = set("Hello")

In [564]:
s2

{'H', 'e', 'l', 'o'}

In [565]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [566]:
l1[0]

1

In [567]:
t1 = tuple(s1)

In [568]:
t1

(1, 2, 3)

In [569]:
t1[0]

1

In [570]:
a= True

In [571]:
type(a)

bool

In [572]:
a = [1, 2, 3, 4]
while a:
    a.pop()

In [573]:
a

[]

In [574]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [575]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [576]:
dic = {"국어":80, "영어":75, "수학":55}
( dic.get('국어') + dic.get('영어') + dic.get('수학') ) / len(dic)

70.0

In [577]:
pin = "881120-1068234"
yyyymmdd = "19" + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [578]:
pin = "881120-1068234"
print(pin[7:8])

1

In [579]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [580]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [581]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [582]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [583]:
a = dict()
a

{}

In [584]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [593]:
a[('a')] = 'python'

TypeError: 'str' object does not support item assignment

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

In [594]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [595]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [596]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number:

In [597]:
prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

## 2장 연습문제

### 1번 문제

In [598]:
dic = {'국어':80, '영어':75, '수학':55}
(dic.get('국어') + dic.get('영어') + dic.get('수학'))/len(dic)

70.0

### 2번 문제

In [599]:
if 13%2 == 0:
    print('even')
else:
    print('odd')

odd

### 3번 문제

In [600]:
pin = '881120-1068234'
yyyymmdd = '19' + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234


### 4번 문제

In [601]:
pin = "881120-1068234"
print(pin[7:8])

1

### 5번 문제

In [602]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

###  6번 문제

In [603]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

### 7번 문제

In [604]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 8번 문제

In [633]:
a = (1, 2, 3)
print(id(a))
a = a + (4,)
print(a)
print(id(a)) # 튜플은 그 값을 변경할 수 없고, 그래서 (4,)를 추가하면
          # 새로운 튜플이 생성된다. 이는 a의 고유주소값이 변경된 것으로 확인가능

1564728298056
(1, 2, 3, 4)
1564728654888

### 9번 문제

In [606]:
a = dict()
a
a['name'] = 'python'
a[('a',)] = 'python'
a[250] = 'python'

In [607]:
a = dict()
a

{}

In [608]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

### 10번 문제

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

###  11번 문제

In [ ]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

###  12번 문제

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

## 3장 연습문제

### 1번 문제

In [ ]:
a = 'Life is too short, you need python'
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a : print("need")
else : print("none")

###  2번 문제

In [ ]:
result = 0
i = 1 
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

###  3번 문제

In [ ]:
i = 0
while True:
    i += 1
    if i >5:
        break
    print("*"*i)

### 4번 문제

In [ ]:
for i in range(1,101):
    print(i, end = " ")

### 5번 문제

In [ ]:
A = [ 70, 60, 55, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/ len(A)
print(average)
print(total)
print(len(A))

### 6번 문제

In [ ]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n %2 == 1]
print(result)