In [ ]:
"I eat {0} apples".format(3)

In [ ]:
"I eat {0} apples".format("five")

In [ ]:
number = 3
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

In [ ]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number, day)

In [ ]:
number = 3
day = "three"
"I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)

In [ ]:
"I ate {number} apples. so I was sick for {day} days".format(10, day=3)

In [ ]:
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

In [ ]:
"{0:<10}".format("hi")

In [ ]:
"{0:>10}".format("hi")

In [ ]:
"{0:^10}".format("hi")

## 문자열 관련 함수

### 문자개수 세기(count)

In [ ]:
a = "hobby"
a.count('b')

### 위치 알려주기 (find)

In [ ]:
a = "Python is the best choice"
a.find('b')

In [ ]:
a = "Python is the best choice"
a.find('k')

### 위치 알려주기 (index)

In [ ]:
a = "Life is too short"
a.index('t')

In [ ]:
a = "Life is too short"
a.index('k')

### 문자열 삽입 (join)

In [ ]:
",".join("abcd")

In [ ]:
",".join(['a','b','c','d'])

### 소문자를 대문자로 바꾸기 (upper)

In [ ]:
a = 'hi'
a.upper()

###  대문자를 소문자로 바꾸기 (lower)

In [ ]:
a = 'HI'

In [ ]:
a.lower()

### 왼쪽 공백 지우기 (lstrip)

In [ ]:
a = ' hi '
a.lstrip()

In [ ]:
a = ' hi '
a.rstrip()

In [ ]:
a = ' hi '
a.strip()

### 문자열 바꾸기 (replace)

In [ ]:
a = "Life is too short"
a.replace("Life", "Your leg")

### 문자열 나누기 (split)

In [ ]:
a = "Life is too short"
a.split()

In [ ]:
b = "a:b:c:d"
b.split(':')

## 리스트 자료형

In [ ]:
odd = [1,3,5,7,9]

In [ ]:
a = []

In [ ]:
b = [1,2,3]

In [ ]:
c = ['Life', 'is', 'too', 'short']

In [ ]:
d = [1, 2, 'Life', 'is']

In [ ]:
e = [1, 2, ['Life', 'is']]

### 리스트 인덱싱

In [ ]:
a = [1, 2, 3]
a

In [ ]:
a[0]

In [ ]:
a[2]

In [ ]:
a[0] + a[2]

In [ ]:
a[-1]

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [ ]:
a[0]

In [ ]:
a[-1]

In [ ]:
a[-1][0]

In [ ]:
a[-1][1]

In [ ]:
a[3][2]

In [ ]:
a =[1,2,['a','b',['Life', 'is']]]

In [ ]:
a[2][2]

In [ ]:
a[-1][-1][0]

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a[0:2]

In [ ]:
a = "12345"

In [ ]:
a[0:2]

In [ ]:
a = [1,2,3,4,5]
a[:2]

In [ ]:
a[2:]

In [ ]:
a = [1,2,3,['a','b','c'],4,5]

In [ ]:
a[2:5]

In [ ]:
a[3][:2]

## 리스트 연산

### 리스트 더하기(+)

In [ ]:
a = [1,2,3]
b = [4,5,6]
a + b

### 리스트 반복하기(*)

In [ ]:
a = [1,2,3]
a*3

### 리스트 길이 구하기

In [ ]:
a = [1,2,3]
len(a)

In [ ]:
a = [1,2,3]
a[2] + "hi"

In [ ]:
a = [1,2,3]
str(a[2]) + "hi"

## 리스트의 수정과 삭제

### 리스트에서 값 수정하기

In [ ]:
a = [1,2,3]
a[2] = 4

In [ ]:
a

In [ ]:
a = [1,2,3]
del a[1]
a

In [ ]:
a = [1,2,3,4,5]
del a[2:]
a

## 리스트 관련 함수

###  리스트에 요소 추가 (append)

In [ ]:
a = [1,2,3]
a.append(4)

In [ ]:
a

In [ ]:
a.append([5,6])

In [ ]:
a

### 리스트 정렬(sort)

In [ ]:
a = [1,4,3,2]

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a = ['a','c','b']

In [ ]:
a.sort()

In [ ]:
a

### 리스트 뒤집기(reverse)

In [ ]:
a = ['a','c','b']

In [ ]:
a.reverse()

In [ ]:
a

### 위치 반환(index)

In [ ]:
a = [1,2,3]
a.index(3)

In [ ]:
a.index(1)

In [ ]:
a.index(0)

### 리스트에 요소 삽입(insert)

In [ ]:
a = [1,2,3]
a.insert(0, 4)

In [ ]:
a

In [ ]:
a.insert(3,5)

In [ ]:
a

### 리스트 요소 삭제(remove)

In [ ]:
a = [1,2,3,1,2,3]
a.remove(3)

In [ ]:
a

In [ ]:
a = [1,2,3,1,2,3]
del a[3]
a

In [ ]:
a = [1,2,3,1,2,3]
a.remove(3)
a

In [ ]:
a.remove(3)

In [ ]:
a

### 리스트 요소 끄집어내기 (pop)

In [ ]:
a = [1,2,3]
a.pop()

In [ ]:
a

In [ ]:
a = [1,2,3]
a.pop(1)

In [ ]:
a

### 리스트에 포함된 요소 x의 개수 세기(count)

In [ ]:
a = [1,2,3,1]
a.count(1)

### 리스트 확장(extend)

In [ ]:
a = [1,2,3]
a.extend([4,5])

In [ ]:
a

In [ ]:
b = [6,7]
a.extend(b)

In [ ]:
a

## 튜플 자료형

In [ ]:
t1 = ()

In [ ]:
t2 = (1,)

In [ ]:
t3 = (1,2,3)

In [ ]:
t4 = 1,2,3

In [ ]:
t4

In [ ]:
t5 = ('a', 'b', ('ab', 'cd'))

### 튜플 요소값을 삭제하려 할 때

In [ ]:
t1 = (1, 2, 'a', 'b')

In [ ]:
del t1[0]

### 튜플 요소값을 변경하려 할 때

In [ ]:
t1 = (1,2, 'a', 'b')

In [ ]:
t1[0]='c'

## 튜플 다루기

### 인덱싱 하기

In [ ]:
t1 = (1,2, 'a', 'b')

In [ ]:
t1[0]

In [ ]:
t1[3]

### 슬라이싱 하기

In [ ]:
t1 = (1,2, 'a', 'b')
t1[1:]

### 튜플 더하기

In [ ]:
t2 = (3,4)
t1 + t2

### 튜플 곱하기

In [ ]:
t1*3

In [ ]:
t2*3

### 튜플 길이 구하기

In [ ]:
len(t1)

## 딕셔너리 자료형

In [ ]:
dic = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}

In [ ]:
a = {1:"hi"}

In [ ]:
a = {'a':[1,2,3]}

In [ ]:
a['a']

###  딕셔너리 쌍 추가, 삭제 하기

In [ ]:
a = {1: 'a'}

In [ ]:
a[1]

In [ ]:
a[2] = 'b'

In [ ]:
a

In [ ]:
a['name'] = 'pey'

In [ ]:
a

In [ ]:
a[3] = [1,2,3]

In [ ]:
a

### 딕셔너리 요소 삭제하기

In [ ]:
del a[1]

In [ ]:
a

### 딕셔너리에서 key를 사용해 value얻기

In [ ]:
grade = {'pey':10, 'julliet':99}

In [ ]:
grade['pey']

In [ ]:
grade['julliet']

In [ ]:
a = {1:'a', 2:'b'}

In [ ]:
a[1]

In [ ]:
a[2]

In [ ]:
a = {'a':1, 'b':2}

In [ ]:
a['a']

In [ ]:
a['b']

### 딕셔너리 만들 때 주의사항

In [ ]:
a = {1:'a', 1:'b'}

In [ ]:
a

In [ ]:
a[1]

In [ ]:
a = {[1,2]:"hi"}

## 딕셔너리 관련 함수

### Key 리스트 만들기(key)

In [ ]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.keys()

In [ ]:
for k in a.keys():
    print(k)

In [ ]:
list(a.keys())

In [ ]:
a.values()

In [ ]:
list(a.values())

#### Key, Value 쌍 얻기(items)

In [ ]:
a.items()

#### Key: value 쌍 모두 지우기(clear)

In [ ]:
a.clear()

In [ ]:
a

#### key로 value 얻기 (get)

In [ ]:
a = {'name':'pey', 'phone':'010-1234-5678','birth':'1118'}
a.get('name')

In [ ]:
a.get('phone')

In [ ]:
print(a.get('nokey'))

In [ ]:
print(a['nokey'])

In [ ]:
a.get('foo','bar')

#### 해당 key가 딕셔너리 안에 있는지 조사하기(in)

In [ ]:
'name' in a

In [ ]:
'email' in a

## 집합 자료형

In [ ]:
s1  = set([1,2,3])

In [ ]:
s1

In [ ]:
s2 = set("Hello")

In [ ]:
s2

In [ ]:
s1 = set([1,2,3])
s1

In [ ]:
list(s1)

In [ ]:
t1 = s1

In [ ]:
t1

In [ ]:
t1 = tuple(s1)
t1

### 교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

###  교집합

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

### 합집합

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

### 차집합

In [ ]:
s1 - s2

In [ ]:
s2 - s1

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

 ### 집합 자료형 관련 함수

In [ ]:
s1 = set([1,2,3])
s1.add(4)

In [ ]:
s1

In [ ]:
s1.update([5,6,7])

In [ ]:
s1

In [ ]:
s1.remove(7)

In [ ]:
s1

## 불 자료형

In [ ]:
a = True

In [ ]:
a

In [ ]:
b = False

In [ ]:
b

In [ ]:
type(a)

In [ ]:
1==1

In [ ]:
2>1

In [ ]:
2<1

In [ ]:
a = [1,2,3,4]
while a:
    print(a.pop())

In [ ]:
if []:
    print("참")
else :
    print("거짓")

In [ ]:
if [1,2,3,]:
    print("참")
else :
    print("거짓")

In [ ]:
bool('python')

In [ ]:
bool('')

In [ ]:
bool(0)

In [ ]:
bool(-1)

## 자료형의 값을 저장하는 공간, 변수

In [ ]:
a = 1

In [ ]:
type(a)

In [ ]:
b = "python"

In [ ]:
type(b)

In [ ]:
c = [1,2,3]

In [ ]:
type(c)

### 변수란?

In [ ]:
a = [1,2,3]

In [ ]:
id(a)

In [ ]:
b = a

In [ ]:
id(b)

In [ ]:
a[2]=4

In [ ]:
a

In [ ]:
b

In [ ]:
a is b

### 리스트 deep copy 방법

In [ ]:
a = [1,2,3]
b = a[:]

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
from copy import copy
a = [1,2,3]
b =  copy(a)

In [ ]:
a[2] = 4
a

In [ ]:
b

In [ ]:
a,b = ('python', 'life')

In [ ]:
a

In [ ]:
b

In [ ]:
[a,b] = ('python', 'life')

In [ ]:
a

In [ ]:
b

In [ ]:
a = b = 'python'

In [ ]:
a

In [ ]:
b

In [ ]:
a = 3
b = 5
a,b = b,a

In [ ]:
a

In [ ]:
b

##  if문

In [ ]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
money = 2000
if money>=3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
money = 2000
card = True
if money>=3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
1 in [1,2,3]

In [ ]:
1 not in [1,2,3]

In [ ]:
'a' in ['a', 'b', 'c']

In [ ]:
'j' not in 'python'

In [ ]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어 가라')

In [ ]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    pass
else:
    print('걸어 가라')

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    if card:
        print('택시를 타고 가라')
    else: 
        print("걸어가라")

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
elif card:
    print('택시를 타고 가라')
else:
    print("걸어가라")

In [ ]:
score = 80

if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [ ]:
message

In [ ]:
message = "success" if score >= 60 else "failure"

In [ ]:
message

## while 문

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit== 10:
        print("나무 넘어갑니다")

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt

In [ ]:
print(prompt)

In [ ]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

In [ ]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

### while문의 맨 처음으로 돌아가기(continue)

In [ ]:
a = 0
while a < 10:
    a = a + 1
    if (a % 2 == 0): 
        continue
    print(a)

## for문

In [ ]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

In [ ]:
a = [(1,2), (3,4),(5,6)]
print(len(a))
for (first, last) in a:
    print(first + last)

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." %number)

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." % number)

In [ ]:
a = range(10)
a

In [ ]:
a = range(1, 11)
a

In [ ]:
add = 0
for i in range(100):
    add = add + i + 1

In [ ]:
add

In [ ]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(i +1))

In [ ]:
for i in range(2,10):
    for j in range(1, 10):
        print("%2d "%(i*j), end=" ")
    print(' ')

### 리스트 내포(List comprehension)사용하기

In [ ]:
a = [1, 2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a ]

In [ ]:
result

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0 ]
result

In [ ]:
result = [ x for x in range(2,10) ]
result

In [ ]:
result = [ x*y for x in range(2,10)
         for y in range(1,10) ]

In [ ]:
print(result)

#### 연습문제 3번

In [ ]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('*'*i)

In [ ]:
i = 0
while True:
    i += 1
    if i>5:
        break
    print("@"*i)

In [7]:
i = 0
while True:
    i += 1
    if  i >5 : 
        break
    print('{0:.^10}'.format("*"*i))

....*.....
....**....
...***....
...****...
..*****...

In [10]:
a = "{0:!^12}".format("python")

In [12]:
print(a)
a.count("!")

!!!python!!!

6

In [13]:
a.find("y")

4

In [14]:
a.find("3")

-1

In [15]:
a.index('t')

5

In [16]:
a.index('s')

ValueError: substring not found

In [17]:
a = [1, 2, 3, 4, 5]
a[1:3]

[2, 3]

In [27]:
a = [ 5, 2, 10,]
a.append(1)
a

[5, 2, 10, 1]

In [29]:
a.sort()
a

[1, 2, 5, 10]

In [30]:
a.reverse()

In [31]:
a

[10, 5, 2, 1]

In [32]:
a.append('a')
a

[10, 5, 2, 1, 'a']

In [33]:
a.reverse()

In [34]:
a

['a', 1, 2, 5, 10]

In [35]:
a.index(3)

ValueError: 3 is not in list

In [36]:
a.index(5)

3

In [39]:
a.insert(5, "b")

In [40]:
a

['a', 1, 2, 5, 10, 'b']

In [41]:
a.remove("b")
a

['a', 1, 2, 5, 10]

In [42]:
a.pop()
a

['a', 1, 2, 5]

In [43]:
a.pop(4)
a

IndexError: pop index out of range

In [46]:
a.count("a")

1

In [47]:
a.extend([4,5])
a

['a', 1, 2, 5, 4, 5]

In [48]:
b = [6,7]
a.extend(b)
a

['a', 1, 2, 5, 4, 5, 6, 7]

In [49]:
t1 = (1, 2, 'a', 'b')
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [51]:
t1[0]

1

In [52]:
t1[3]

'b'

In [53]:
t1 = (1, 2, 3)
t1 + (4,)

(1, 2, 3, 4)

In [55]:
a = { (1,2) : "hi"}

In [56]:
print(a)

{(1, 2): 'hi'}

In [57]:
a.keys()

dict_keys([(1, 2)])

In [58]:
for k in a.keys():
    print(k)

(1, 2)

In [59]:
list(a.keys())

[(1, 2)]

In [60]:
a.values()

dict_values(['hi'])

In [61]:
a.items()

dict_items([((1, 2), 'hi')])

In [62]:
dic = {'name':'홍길동', 'birth':'1128', 'age':'30'}

In [63]:
dic

{'name': '홍길동', 'birth': '1128', 'age': '30'}

In [64]:
s1 = set([1,2,3])

In [65]:
s1

{1, 2, 3}

In [66]:
s2 = set("Hello")

In [67]:
s2

{'H', 'e', 'l', 'o'}

In [68]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [69]:
l1[0]

1

In [70]:
t1 = tuple(s1)

In [71]:
t1

(1, 2, 3)

In [72]:
t1[0]

1

In [73]:
a= True

In [74]:
type(a)

bool

In [79]:
a = [1, 2, 3, 4]
while a:
    a.pop()

In [80]:
a

[]

In [81]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [82]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [83]:
dic = {"국어":80, "영어":75, "수학":55}
( dic.get('국어') + dic.get('영어') + dic.get('수학') ) / len(dic)

70.0

In [86]:
pin = "881120-1068234"
yyyymmdd = "19" + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [87]:
pin = "881120-1068234"
print(pin[7:8])

1

In [88]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [89]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [93]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [95]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [96]:
a = dict()
a

{}

In [97]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [98]:
a[('a')] = 'python'

In [99]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [100]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [101]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [102]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number:

In [103]:
prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

## 2장 연습문제

### 1번 문제

In [104]:
dic = {'국어':80, '영어':75, '수학':55}
(dic.get('국어') + dic.get('영어') + dic.get('수학'))/len(dic)

70.0

### 2번 문제

In [105]:
if 13%2 == 0:
    print('even')
else:
    print('odd')

odd

### 3번 문제

In [107]:
pin = '881120-1068234'
yyyymmdd = '19' + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234


### 4번 문제

In [108]:
pin = "881120-1068234"
print(pin[7:8])

1

### 5번 문제

In [110]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

###  6번 문제

In [111]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

### 7번 문제

In [114]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 8번 문제

In [115]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

### 9번 문제

In [116]:
a = dict()
a
a['name'] = 'python'
a[('a',)] = 'python'
a[250] = 'python'

In [117]:
a = dict()
a

{}

In [118]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

### 10번 문제

In [119]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

###  11번 문제

In [120]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

###  12번 문제

In [121]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

## 3장 연습문제

### 1번 문제

In [124]:
a = 'Life is too short, you need python'
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a : print("need")
else : print("none")

shirt

###  2번 문제

In [127]:
result = 0
i = 1 
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

###  3번 문제

In [128]:
i = 0
while True:
    i += 1
    if i >5:
        break
    print("*"*i)

*
**
***
****
*****

### 4번 문제

In [132]:
for i in range(1,101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### 5번 문제

In [138]:
A = [ 70, 60, 55, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/ len(A)
print(average)
print(total)
print(len(A))

79.44444444444444
715
9

### 6번 문제

In [144]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [145]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n %2 == 1]
print(result)

[2, 6, 10]