In [1]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [3]:
"I eat {0} apples".format("five")

'I eat five apples'

In [4]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [5]:
number = 3
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number,day)

'I ate 3 apples. so I was sick for three days'

In [7]:
"I ate {number} apples. so I was sick for {day} days".format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days'

In [8]:
"I ate {0} apples. so I was sick for {day} days".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days'

In [9]:
"{0:<10}".format("hi")

'hi        '

In [10]:
"{0:>10}".format("hi")

'        hi'

In [11]:
"{0:^10}".format("hi")

'    hi    '

In [12]:
"{0:=^10}".format("hi")

'====hi===='

In [13]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [14]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [15]:
y = 3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [18]:
"{{and}}".format()

'{and}'

In [19]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

In [20]:
age = 30
f'나는 내년이면  {age+1} 살이 된다.'

'나는 내년이면  31 살이 된다.'

In [23]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

In [26]:
f'{"hi":<10}'

'hi        '

In [27]:
f'{"hi":>10}'

'        hi'

In [28]:
f'{"hi":^10}'

'    hi    '

In [29]:
f'{"hi":=^10}'

'====hi===='

In [30]:
f'{"hi":@^10}'

'@@@@hi@@@@'

In [32]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [33]:
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [36]:
f'{{and}}'

'{and}'

## 문자열 관련 함수

### 문자 개수 세기(count)

In [37]:
a = "hobby"
a.count('b')

2

### 위치 알려주기 (find)

In [38]:
a = "Python is the best choice"
a.find('b')

14

In [39]:
a = "Python is the best choice"
a.find('k')

-1

### 위치 알려주기 (index)

In [41]:
a = "Life is too short"
a.index('t')

8

In [42]:
a.index('k')

ValueError: substring not found

### 문자열 삽입(join)

In [43]:
",".join('abcd')

'a,b,c,d'

In [44]:
",".join(['a','b','c','d'])

'a,b,c,d'

### 소문자를 대문자로 바꾸기(upper)

In [45]:
a = 'hi'
a.upper()

'HI'

### 대문자를 소문자로 바꾸기(lower)

In [46]:
a = 'HI'
a.lower()

'hi'

### 왼쪽 공백 지우기(lstrip)

In [47]:
a = " hi "
a.lstrip()

'hi '

In [48]:
a = " hi "
a.rstrip()

' hi'

In [49]:
a = " hi "
a.strip()

'hi'

### 문자열 바꾸기(replace)

In [51]:
a = "Life is too short"
a.replace("Life", 'Your leg')

'Your leg is too short'

### 문자열 나누기(split)

In [52]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [54]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 리스트 자료형

In [55]:
odd = {1,3,5,7,9}

In [56]:
a = []

In [57]:
b = [1,2,3]

In [58]:
c = ['Life', 'is', 'too', 'short']

In [59]:
d = [1, 2, 'Life', 'is']

In [60]:
e = [1, 2, ['Life', 'is']]

### 리스트 인덱싱

In [62]:
a = [1, 2, 3]
a

[1, 2, 3]

In [63]:
a[0]

1

In [64]:
a[2]

3

In [65]:
a[0] + a[2]

4

In [66]:
a[-1]

3

In [67]:
a = [1,2,3,['a','b','c']]

In [68]:
a[0]

1

In [69]:
a[-1]

['a', 'b', 'c']

In [70]:
a[-1][0]

'a'

In [71]:
a[-1][1]

'b'

In [72]:
a[3][2]

'c'

In [73]:
a=[1,2,['a','b',['Life','is']]]

In [74]:
a[2][2][0]

'Life'

In [75]:
a[-1][-1][0]

'Life'

In [ ]:
a = [1,2,3,4,5]

In [76]:
a[0:2]

[1, 2]

In [77]:
a = "12345"
a[0:2]

'12'

In [78]:
a = [1,2,3,4,5]
a[:2]

[1, 2]

In [79]:
a[2:]

[3, 4, 5]

In [81]:
a=[1,2,3,['a','b','c'],4,5]

In [82]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [83]:
a[3][:2]

['a', 'b']

## 리스트 연산

### 리스트 더하기(+)

In [84]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기(*)

In [85]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [87]:
a = [1,2,3]
len(a)

3

In [89]:
a=[1,2,3]
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [91]:
a=[1,2,3]
str(a[2])+"hi"

'3hi'

## 리스트의 수정과 삭제

### 리스트에서 값 수정하기

In [92]:
a = [1,2,3]
a[2] = 4

In [93]:
a

[1, 2, 4]

In [95]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [96]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

### 리스트에 요소 추가(append)

In [97]:
a = [1,2,3]
a.append(4)

In [98]:
a

[1, 2, 3, 4]

In [99]:
a.append([5,6])

In [100]:
a

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬(sort)

In [101]:
a = [1,4,3,2]

In [102]:
a.sort()

In [103]:
a

[1, 2, 3, 4]

In [104]:
a = ['a','c','b']

In [105]:
a.sort()

In [106]:
a

['a', 'b', 'c']

### 리스트 뒤집기(reverse)

In [107]:
a = ['a','c','b']
a.reverse()

In [108]:
a

['b', 'c', 'a']

### 위치 반환(index)

In [109]:
a=[1,2,3]
a.index(3)

2

In [110]:
a.index(1)

0

In [111]:
a.index(0)

ValueError: 0 is not in list

### 리스트에 요소 삽입(insert)

In [112]:
a=[1,2,3]
a.insert(0, 4)

In [114]:
a

[4, 1, 2, 3]

In [115]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

### 리스트 요소 삭제(remove)

In [128]:
a=[1,2,3,1,2,3]
a.remove(3)

In [129]:
a

[1, 2, 1, 2, 3]

In [130]:
a.remove(3)
a

[1, 2, 1, 2]

In [120]:
a=[1,2,3,1,2,3]
del a[3]
a

[1, 2, 3, 2, 3]

### 리스트 요소 끄집어 내기(pop)

In [134]:
a=[1,2,3]
a[2]

3

In [133]:
a

[1, 2, 3]

In [135]:
a.pop()

3

In [136]:
a

[1, 2]

In [137]:
a=[1,2,3]
a.pop(1)

2

In [138]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기(count)

In [139]:
a=[1,2,3,1]
a.count(1)

2

### 리스트 확장 (extend)

In [140]:
a=[1,2,3]
a.extend([4,5])

In [141]:
a

[1, 2, 3, 4, 5]

In [142]:
b = [6,7]
a.extend(b)

In [143]:
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [144]:
t1 = ()

In [145]:
t2 = (1,)

In [146]:
t3 = (1,2,3)

In [147]:
t4 = 1,2,3

In [148]:
t4

(1, 2, 3)

In [149]:
t5 = ('a', 'b' , ('ab', 'cd'))

### 튜플 요솟값을 삭제하려 할 때

In [150]:
t1 = (1,2,'a','b')

In [151]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요솟값을 변경하려 할 때

In [152]:
t1=(1,2,'a','b')
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

## 튜플 다루기

### 인덱싱 하기

In [153]:
t1 = (1,2,'a','b')

In [154]:
t1[0]

1

In [155]:
t1[3]

'b'

### 슬라이싱 하기

In [157]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [158]:
t2=(3,4)
t1+ t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [160]:
t2*3

(3, 4, 3, 4, 3, 4)

### 튜플 길이 구하기

In [161]:
len(t1)

4

## 딕셔너리 자료형

In [162]:
dic = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}

In [163]:
a = {1:'hi'}

In [164]:
a = {'a':[1,2,3]}

In [165]:
a['a']

[1, 2, 3]

### 딕셔너리 쌍 추가 , 삭제 하기

In [166]:
a = {1: 'a'}

In [167]:
a[1]

'a'

In [168]:
a[2] = 'b'

In [169]:
a

{1: 'a', 2: 'b'}

In [170]:
a['name']='pey'

In [171]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [172]:
a[3]=[1,2,3]

In [173]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 요소 삭제하기

In [174]:
del a[1]

In [175]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리에서 key를 사용해 value 얻기

In [176]:
grade = {'pey':10, 'julliet':99}

In [177]:
grade['pey']

10

In [178]:
grade['julliet']

99

In [179]:
a = {1:'a', 2:'b'}

In [180]:
a[1]

'a'

In [181]:
a[2]

'b'

In [182]:
a = {'a':1, 'b':2}

In [183]:
a['a']

1

In [184]:
a['b']

2

### 딕셔너리 만들 때 주의사항

In [185]:
a = {1:'a', 1:'b'}

In [186]:
a

{1: 'b'}

In [187]:
a[1]

'b'

In [188]:
a = {[1,2]:"hi"}

TypeError: unhashable type: 'list'

###  딕셔너리 관련 함수

####  Key 리스트 만들기(key)

In [189]:
a = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [190]:
for k in a.keys():
    print(k)

name
phone
birth

In [191]:
list(a.keys())

['name', 'phone', 'birth']

In [192]:
a.values()

dict_values(['pey', '010-1234-5678', '1118'])

#### Key, Value 쌍 얻기(items)

In [193]:
a.items()

dict_items([('name', 'pey'), ('phone', '010-1234-5678'), ('birth', '1118')])

#### key: value 쌍 모두 지우기(clear)

In [194]:
a.clear()
a

{}

#### key로 value 얻기(get)

In [195]:
a = {'name':'pey', 'phone':'010-1234-5678', 'birth':'1118'}
a.get('name')

'pey'

In [196]:
a.get('phone')

'010-1234-5678'

In [198]:
print(a.get("nokey"))

None

In [199]:
print(a['nokey'])

KeyError: 'nokey'

In [201]:
a.get('foo','bar')

'bar'

#### 해당 key가 딕셔너리 안에 있는지 조사하기 (in)

In [202]:
'name' in a

True

In [203]:
'email' in a

False

## 집합 자료형

In [204]:
s1 = set([1,2,3])

In [205]:
s1

{1, 2, 3}

In [206]:
s2 = set("Hello")

In [207]:
s2

{'H', 'e', 'l', 'o'}

In [208]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [209]:
list(s1)

[1, 2, 3]

In [210]:
t1 = tuple(s1)

In [211]:
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [212]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

### 교집합

In [213]:
s1 & s2

{4, 5, 6}

In [214]:
s1.intersection(s2)

{4, 5, 6}

### 합집합

In [215]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [216]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

In [217]:
s1 - s2

{1, 2, 3}

In [218]:
s1.difference(s2)

{1, 2, 3}

In [219]:
s2 - s1

{7, 8, 9}

In [220]:
s2.difference(s1)

{7, 8, 9}

###  집합 자료형 관련 함수

In [221]:
s1 = set([1,2,3])

In [222]:
s1.add(4)

In [223]:
s1

{1, 2, 3, 4}

In [224]:
s1.update([5,6,7])

In [225]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [226]:
s1.remove(7)

In [227]:
s1

{1, 2, 3, 4, 5, 6}

## 불 자료형

In [231]:
a = True

In [229]:
a

True

In [232]:
b = False

In [233]:
b

False

In [234]:
type(a)

bool

In [235]:
1==1

True

In [236]:
2>1

True

In [237]:
2<1

False

In [238]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [239]:
if []:
    print("참")
else : 
    print("거짓")

거짓

In [240]:
if [1,2,3]:
    print("참")
else : 
    print("거짓")

참

In [242]:
bool('python')

True

In [243]:
bool('')

False

In [244]:
bool(0)

False

In [245]:
bool(-1)

True

## 자료형의 값을 저장하는 공간, 변수

In [248]:
a = 1

In [249]:
type(a)

int

In [250]:
b = "python"

In [251]:
type(b)

str

In [252]:
c = [1,2,3]

In [253]:
type(c)

list

### 변수란?

In [254]:
a = [1,2,3]

In [255]:
id(a)

2910374379464

In [256]:
b = a

In [257]:
a

[1, 2, 3]

In [258]:
b

[1, 2, 3]

In [259]:
a[2]=4

In [260]:
a

[1, 2, 4]

In [261]:
b

[1, 2, 4]

In [262]:
id(a)

2910374379464

In [263]:
id(b)

2910374379464

In [264]:
a is b

True

### 리스트 deep copy 방법

In [265]:
a = [1,2,3]
b = a[:]

In [266]:
id(a)

2910374350472

In [267]:
id(b)

2910374493192

In [268]:
a[2] = 4
a

[1, 2, 4]

In [269]:
b

[1, 2, 3]

In [270]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [272]:
a[2]=4
a

[1, 2, 4]

In [274]:
b

[1, 2, 3]

In [275]:
a,b = ('python', 'life')

In [276]:
a

'python'

In [277]:
b

'life'

In [278]:
[a,b] = ('python', 'life')

In [279]:
a

'python'

In [280]:
b

'life'

In [281]:
a = b = 'python'

In [282]:
a

'python'

In [283]:
b

'python'

In [284]:
a = 3
b = 5
a,b = b,a

In [286]:
a

5

In [287]:
b

3

## if문

In [289]:
money = True 
if money:
    print('택시를 타고 가라')
else :
    print("걸어 가라")

택시를 타고 가라

In [292]:
money = 2000
if money>=3000:
    print('택시를 타고 가라')
else :
    print("걸어 가라")

걸어 가라

In [294]:
money = 2000
card = False
if money>=3000 or card:
    print('택시를 타고 가라')
else :
    print("걸어 가라")

걸어 가라

In [295]:
1 in [1,2,3]

True

In [296]:
1 not in [1,2,3]

False

In [297]:
4 not in [1,2,3]

True

In [298]:
'a' in ['a','b','c']

True

In [299]:
'j' not in 'python'

True

In [300]:
pocket = ['paer', 'cellphone', 'money']

if 'money' in pocket:
    print('택시를 타고 가라')
else : 
    print("걸어 가라")

택시를 타고 가라

In [301]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    pass
else : 
    print("걸어 가라")

In [302]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else : 
    if card : 
        print('택시를 타고 가라')
    else:
        print("걸어 가라")

택시를 타고 가라

In [304]:
pocket = ['paper', 'cellphone']
card = False
if 'money' in pocket:
    print('택시를 타고 가라')
elif card : 
    print('택시를 타고 가라')
else:
    print("걸어 가라")

걸어 가라

In [305]:
score = 80

if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [306]:
message

'success'

In [307]:
message = "success" if score>=60 else "failure"

## while 문

In [308]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다"% treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [309]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

In [310]:
number = 0
while number != 4 :
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [311]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개 입니다"% coffee)
    if coffee == 0:
        print("커피가 다 떨어 졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다
커피가 다 떨어 졌습니다. 판매를 중지합니다.

### while문의 맨처음으로 돌아가기 ( continue )

In [312]:
a = 0
while a<10:
    a = a+1 
    if( a%2==0 ): 
        continue
    print(a)

1
3
5
7
9

## for 문

In [313]:
int i=0
for(i=0; i<10; i++)
    list[i]

SyntaxError: invalid syntax (<ipython-input-313-8673fd536ded>, line 1)

In [314]:
test_list = ["one","two","three"]
for i in test_list:
    print(i)

one
two
three

In [317]:
a= [(1,2),(3,4),(5,6)]
print(len(a))
for (first,last) in a:
    print(first+last)

3
3
7
11

In [318]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number = number + 1
    if mark>= 60:
        print("%d번 학생은 합격입니다" % number)
    else:
        print("%d번 학생은 불합격입니다" % number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [319]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다" % number)

1번 학생은 합격입니다
3번 학생은 합격입니다
5번 학생은 합격입니다

In [320]:
a = range(10)
a

range(0, 10)

In [321]:
a = range(1,11)
a

range(1, 11)

In [326]:
add=0
for i in range(100):
    add = add + i + 1

In [327]:
add

5050

In [329]:
marks = [90,25,67,45,80]
for i in range(len(marks)):
    if( marks[i] < 60):
        continue
    print("%d번 학생 축하합니다. " % (i+1))

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [333]:
for i in range(2,10):
    for j in range(1,10):
        print( "%2d "%(i*j), end=" ")
    print('')

 2   4   6   8  10  12  14  16  18
 3   6   9  12  15  18  21  24  27
 4   8  12  16  20  24  28  32  36
 5  10  15  20  25  30  35  40  45
 6  12  18  24  30  36  42  48  54
 7  14  21  28  35  42  49  56  63
 8  16  24  32  40  48  56  64  72
 9  18  27  36  45  54  63  72  81

### 리스트 내포(List comprehension) 사용하기

In [334]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num)
print(result)

[1, 2, 3, 4]

In [337]:
a = [1,2,3,4]
result = [ num*3 for num in a ]

In [338]:
result

[3, 6, 9, 12]

In [339]:
a = [1,2,3,4]
result = [ num*3 for num in a if num%2 == 0  ]

In [340]:
result

[6, 12]

In [341]:
result = [ x for x in range(2,10)]
result

[2, 3, 4, 5, 6, 7, 8, 9]

In [342]:
result = [ x*y for x in range(2,10)
         for y in range(1,10) ]

In [344]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

#### 연습 문제 3번

In [345]:
i=0
while True:
    i += 1
    if i>5: 
        break
    print('*'*i)

*
**
***
****
*****