In [256]:
def  display(a, n):
    for i in range(n):
        for j in range(n):
            print("%4d"%a[i][j], end='')
        print()
        
def init(n):
    a = [ [0]*n for j in  range(n) ] 
    return a

def fill(a, n):
    row=0
    count=1
    col=n//2
    r=0
    c=0
    a[row][col] = count

    for i in range(n*n-1):
        count += 1
        r = row-1
        c = col-1
        if( r < 0 ):
            r = n-1

        if( c < 0 ):
            c = n-1

        if( a[r][c] > 0 ):
            r = row+1
            c = col

        a[r][c] = count
        row = r
        col = c

def check(a, n):
    for i in range(n):
        for j in range(n):
            a[i][n] += a[i][j]
            a[n][i] += a[j][i]
            if( i == j ):
                a[n][n] += a[i][j]
    
n=11
a = init(n+1)
fill(a, n)
check(a, n)
display(a,n+1)

  66  53  40  27  14   1 120 107  94  81  68 671
  67  65  52  39  26  13  11 119 106  93  80 671
  79  77  64  51  38  25  12  10 118 105  92 671
  91  78  76  63  50  37  24  22   9 117 104 671
 103  90  88  75  62  49  36  23  21   8 116 671
 115 102  89  87  74  61  48  35  33  20   7 671
   6 114 101  99  86  73  60  47  34  32  19 671
  18   5 113 100  98  85  72  59  46  44  31 671
  30  17   4 112 110  97  84  71  58  45  43 671
  42  29  16   3 111 109  96  83  70  57  55 671
  54  41  28  15   2 121 108  95  82  69  56 671
 671 671 671 671 671 671 671 671 671 671 671 671

### 달력 만들기

In [280]:
def isLeap(year):
    return (year%4==0 and year%100!=0) or (year%400==0)

In [281]:
isLeap(2000)

True

In [282]:
def totalYear(year):
    total=0
    for i in range(year-1):
        total += 365
        if(isLeap(i+1)):
            total += 1
    return total

In [283]:
total = totalYear(2019)
total%7+1

2

In [284]:
def totalMonth(year, month):
    total = 0
    mon = [31,28,31,30,31,30,31,31,30,31,30,31]
    if( isLeap(year) ):
        mon[1] += 1

    for i in range(month-1):
        total += mon[i]
    return total

In [285]:
totalMonth(2019, 7)

181

In [286]:
def totalDay(year, month):
    total = 0
    total += totalYear(year)
    total += totalMonth(year,month)
    return total

In [289]:
total = totalDay(2020,7)
total%7+1

3

In [316]:
def cal(year, month):
    days = [0]*42
    mon = [31,28,31,30,31,30,31,31,30,31,30,31]
    if( isLeap(year) ):
        mon[1] += 1
    week=0;
    total = totalDay(year,month)
    week = (total+1)%7
    for i in range(mon[month-1]):
        days[i+week] = i+1
    
    print("%d년 %d월"%(year,month))
    title = "일월화수목금토"
    for str in title:
        print("%3s"%str, end='')
    print()
    for i in range(6):
        for j in range(7):
            if( days[i*7+j] > 0 ):
                print("%4d"%days[i*7+j], end='')
            else:
                print("    ", end='')
        print()

In [320]:
cal(2000,2)

2000년 2월
  일  월  화  수  목  금  토
           1   2   3   4   5
   6   7   8   9  10  11  12
  13  14  15  16  17  18  19
  20  21  22  23  24  25  26
  27  28  29

###  주민 번호 체크

In [330]:
def jumin_check():
    str   = input()
    jumin = [ int(ch) for ch in str ]
    seq   = [2,3,4,5,6,7,8,9,2,3,4,5]
    sum   = 0
    for i in range(len(seq)):
        sum += jumin[i]*seq[i]
    sum = (11 - sum%11)%10
    print(sum)
    if( sum == jumin[12] ):
        print("올바른 주민번호 입니다.")
    else:
        print("잘못된 주민번호 입니다.")

In [331]:
jumin_check()

8811201234560
0
올바른 주민번호 입니다.